# Backend Configuration
PORT=3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/trivia_db

# Frontend URL (para CORS)
# En localhost:
# FRONT_URL=http://localhost:5173
#
# En red local (sustituir IP):
# FRONT_URL=http://192.168.X.X:5173
FRONT_URL=http://localhost:5173

# JWT Secret
JWT_SECRET=your-super-secret-key-change-this-in-production

# Node Environment
NODE_ENV=development

# API KEY para Gemini (Google Cloud)
API_KEY_GEMINI="euwnxjudnfkkkkckckc293939"
